@import "~modularscale-sass/stylesheets/_modularscale.scss";

$modularscale: (
	base: 1em,
	ratio: $minor-second
);

@import "_grid";

@import "_var__colors";
@import "_var__element-colors";

@import "_mix__hardware-acceleration";
@import "_mix__fonticon";

@import "_pla__background-center";

@import "_pla__fade";
