@charset "UTF-8";

// @import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|Gothic+A1|IBM+Plex+Sans+Condensed:300,400,500,600,600i,700|Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700,800');

$modularscale: (
	base: 0.95em,
	ratio: $minor-second
);

$default-typeface: 'Nanum Gothic';
$secondary-typeface: 'PT Sans Narrow';
