$purple: #4c4554;
$purple__gradient-1: #545A6F;
$purple__gradient-2: #567087;
$purple__gradient-3: #56889A;
$purple__gradient-4: #5CA0A5;
$purple__gradient-5: #71B7A9;

$purple__grey-1: #4E415F;
$purple__grey-2: #B0A8B9;

$purple__dust--1: #7C7484;
$purple__dust--2: #B5A5C7;
$purple__dust--3: #8F726B;

$purple__shade--1: #6E6676;
$purple__shade--2: #91899A;
$purple__shade--3: #B6AEBF;
$purple__shade--4: #DDD4E6;

$purple__highlight-1: #C592FF;
$purple__highlight-2: #FFFADE;
$purple__highlight-3: #E8D5B5;

$blue: #56889A;

$cyan: #71B7A9;

$red: #cb5451;

$green: #66826f;

$orange: #EE9176;

$yellow: #F9F871;

$pink: #cda8a8;

$yellorange: #FFC06A;

$kinda-white: #FFFADE;

$gold: #c7af6b;

$silver: #e5e5e5;

$black: #525252;

$clay: #2b323b;
$clay--light: #485563;
$clay__switch--1: #BFC7D3;
$clay__switch--2: #BE861F;
$clay__switch--3: #344A61;
$clay__twisted-spot--1: #E19F20;
$clay__twisted-spot--2: #FFEDCB;
$clay__twisted-spot--3: #8A7356;
$clay__classy--1: #92AECF;
$clay__classy--2: #6C7888;
$clay__classy--3: #442A33;
$clay__classy--4: #755862;
$clay__shade--0: #141B23;
$clay__shade--1: #4F5660;
$clay__shade--2: #767D88;
$clay__shade--3: #9FA7B2;
$clay__shade--4: #CAD3DE;
$clay__generic-gre--1: #285A6B;
$clay__generic-gre--2: #01868A;
$clay__generic-gre--3: #3AB28F;
$clay__generic-gre--4: #91D980;
$clay__generic-gre--5: #F9F871;
$clay__matching-gre--1: #474C5B;
$clay__matching-gre--2: #69667B;
$clay__matching-gre--3: #90809A;
$clay__matching-gre--4: #BB9CB6;
$clay__matching-gre--5: #E8B8CF;


$main-color: $clay;
