$purple: #4c4554;
$purple__gradient-1: #545A6F;
$purple__gradient-2: #567087;
$purple__gradient-3: #56889A;
$purple__gradient-4: #5CA0A5;
$purple__gradient-5: #71B7A9;

$purple__grey-1: #4E415F;
$purple__grey-2: #B0A8B9;

$purple__dust--1: #7C7484;
$purple__dust--2: #B5A5C7;
$purple__dust--3: #8F726B;

$purple__shade--1: #6E6676;
$purple__shade--2: #91899A;
$purple__shade--3: #B6AEBF;
$purple__shade--4: #DDD4E6;

$purple__highlight-1: #C592FF;
$purple__highlight-2: #FFFADE;
$purple__highlight-3: #E8D5B5;

$blue: #56889A;

$cyan: #71B7A9;

$red: #e64d2b;

$orange: #EE9176;

$yellow: #F9F871;

$yellorange: #FFC06A;

$kinda-white: #FFFADE;


$gold: #d1ae84;
