$purple: #4c4554;
$purple__gradient-1: #545a6f;
$purple__gradient-2: #567087;
$purple__gradient-3: #56889a;
$purple__gradient-4: #5ca0a5;
$purple__gradient-5: #71b7a9;

$purple__grey-1: #4e415f;
$purple__grey-2: #b0a8b9;

$purple__dust--1: #7c7484;
$purple__dust--2: #b5a5c7;
$purple__dust--3: #8f726b;

$purple__shade--1: #6e6676;
$purple__shade--2: #91899a;
$purple__shade--3: #b6aebf;
$purple__shade--4: #ddd4e6;

$purple__highlight-1: #c592ff;
$purple__highlight-2: #fffade;
$purple__highlight-3: #e8d5b5;

$blue: #56889a;

$cyan: #4db6ac;

$red: #cb5451;

$green: #66826f;

$orange: #ee9176;

$yellow: #f9f871;

$pink: #cda8a8;

$kinda-white: #fffade;

$gold: #f2c57c;

$silver: #e5e5e5;

$black: #525252;

$clay: #2b323b;
$clay__shade--0: #141b23;
$clay__shade--1: #4f5660;
$clay__shade--2: #767d88;
$clay__shade--3: #9fa7b2;
$clay__shade--4: #cad3de;
$clay__shade--5: #d6dfeb;
$clay__switch--1: #bfc7d3;
$clay__switch--2: #be861f;
$clay__switch--3: #344a61;
$clay__twisted-spot--1: #e19f20;
$clay__twisted-spot--2: #ffedcb;
$clay__twisted-spot--3: #8a7356;
$clay__classy--1: #92aecf;
$clay__classy--2: #6c7888;
$clay__classy--3: #442a33;
$clay__classy--4: #755862;

$clay__generic-gre--1: #285a6b;
$clay__generic-gre--2: #01868a;
$clay__generic-gre--3: #3ab28f;
$clay__generic-gre--4: #91d980;
$clay__generic-gre--5: #f9f871;
$clay__matching-gre--1: #474c5b;
$clay__matching-gre--2: #69667b;
$clay__matching-gre--3: #90809a;
$clay__matching-gre--4: #bb9cb6;
$clay__matching-gre--5: #e8b8cf;

$tuna: #373342;

$spruce: #3b464c;

$brass: #c48d5f;

$khaki: #aca491;

$rose: #dc3d63;

$orange: #f2c57c;
$yellorange: #ddae7e;

$main-color: $tuna;
$secondary-color: $gold;
$third-color: $rose;

$overlay-color--light: #f6f6f6;

$micro-movie-color: mix($tuna, $gold, 90%);
$sidebar-color: $clay;
