$color-gigas--100: #D1DBE3;
$color-gigas--400: #8795e2;
$color-gigas--400: #8795e2;
$color-gigas--500: #473d8b;

$color-mirage: #191727;

$color-kinda-white: #D1DBE3;

$color-green--500: #1B8736;

$color-gold--500: #CBC087;

$color-blue--500: #0185B5;
$color-blue--800: #486073;

$color-orange--500: #DD7002;

$color-red--500: #961F1F;

$color-background: $color-mirage;
$color-foreground: $color-gigas--100;
$color-foreground--dim: $color-blue--800;

$color-primary--light: $color-gigas--400;
$color-primary: $color-gigas--500;

$color-success: $color-green--500;
$color-info: $color-blue--500;
$color-warning: $color-orange--500;
$color-danger: $color-red--500;