.m-add-movie-tool {
	&__button {
		font-weight: 700;
		display: flex;
		align-items: center;
		border: 3px solid;
		padding: 1em;
	}

	&__icon {
		margin-right: 0.5em;
		position: relative;
	}

	&__text {
	}
}
