.m-add-movie-tool {
	&__button {
		font-weight: 600;
		display: flex;
		align-items: center;
		padding: 1em;
		background-color: $third-color;
		color: white;
	}

	&__icon {
		margin-right: 0.5em;
		position: relative;
		size: 0.95em;
	}

	&__text {
	}
}
