.m-dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index: g-index('mountain');


	&--is-visible {
		will-change: width, height, border-radius, box-shadow;
	}

	&--is-open {
		box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
		z-index: g-index('hill');
	}

	&__icon {
		border-radius: 50%;
		flex-shrink: 0;
		transition: all 0.2s 0.2s;
		z-index: g-index('land');

		&--is-visible {
			will-change: box-shadow;
		}

		&--is-open {
			box-shadow: none;
		}
	}

	&__menu {
		padding: 0.5rem 0;
		display: flex;
		flex-direction: column;
		font-size: ms(-4);
		color: hsl(0, 0%, 40%);
		font-weight: 500;
		position: absolute;

		&--is-open {

		}
	}

	&__option {
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		color: currentColor;
		cursor: pointer;
		user-select: none;

		&:hocus {
			color: $purple;
			background-color: hsl(0, 0%, 98%);
		}
	}

	&__opticon {
		position: relative;
		margin-right: 0.5em;
		width: 1.4em;
		height: 1.1em;
		position: relative;

		&--heart {
			left: -0.05em;
		}

		&--eye {
			top: -0.1em;
		}

		&--list {
			top: -0.1em;
		}
	}
}
