.m-place {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	position: relative;

	&__icon {
		color: $clay__shade--2;
		width: 1.2em;
		margin-right: .5em;
		position: relative;
		top: -.1em;
	}

	&__name {
		width: 100%;
		font-size: ms(0);
		display: flex;
		align-items: center;
		&--nested {
			font-size: ms(-1);
		}
	}

	&__desc {
		font-size: ms(-2);
		color: hsl(0, 0, 50%);
	}

	&__count {
		position: absolute;
		right: 0;
	}
}
