@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

@font-face {
	font-family: 'Gotham';
	src: url('../../fonts/Gotham/Gotham-Medium.woff2') format('woff2'), url('../../fonts/Gotham/Gotham-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../../fonts/Gotham/Gotham-Book.woff2') format('woff2'), url('../../fonts/Gotham/Gotham-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
