<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SIGNUP</title>
	</head>
	<body>
		<form class="" action="#" method="post">
			<input type="text" name="name" placeholder="name"><br>
			<input type="email" name="email" placeholder="email"><br>
			<input type="password" name="password" placeholder="password"><br>
			<input type="submit" name="submit" placeholder="Signup">
		</form>
	</body>
</html>
