:root {
	--sidebar-height: 350px;
}

html {
	min-height: 100%;
	font-size: 100%;
}

body {
	min-height: 100%;
	font-family: $default-typeface;
	font-size: $fs-regular;
	text-rendering: optimizeLegibility;
}

input,
textarea {
	font-family: $default-typeface;
}

input[type='password'] {
	font-family: initial;
}

main {
	width: 100%;
	min-height: 100vh;
}
