html {
	font-size: 100%;
	min-height: 100%;
}

body {
	font-family: $default-typeface;
	font-size: $fs-regular;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

input,
textarea {
	font-family: $default-typeface;
}

input[type='password'] {
	font-family: initial;
}

main {
	width: 100%;
	min-height: 100vh;
}
