@font-face {
	font-family: 'Google Sans';
	src: url('../../fonts/GoogleSans/GoogleSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Google Sans';
	src: url('../../fonts/GoogleSans/GoogleSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Google Sans';
	src: url('../../fonts/GoogleSans/GoogleSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../../fonts/Gotham/Gotham-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../../fonts/Gotham/Gotham-Book.woff2') format('woff2'),;
	font-weight: 400;
	font-style: normal;
}
