.p-dashboard {
	width: 100%;
	generate-grid: columns(ratio($golden-ratio, 1.5) ratio($golden-ratio, 5)) gutter(0);
	flex-wrap: nowrap;
	min-height: 100vh;

	&__sidebar-holder {
		height: 100%;
		position: relative;
	}

	&__sidebar {
		width: sizes(ratio($golden-ratio, 1.5) ratio($golden-ratio, 5)) gutter(0) pluck(1);
		height: 100%;
	}

	&__content {
		margin-left: sizes(ratio($golden-ratio, 1.5) ratio($golden-ratio, 5)) gutter(0) pluck(1);
		padding-bottom: $gutter;
	}

	&__friends-holder {
		height: 100%;
		position: relative;
	}

	&__friends {
		height: 100%;
		background-color: $clay__classy--3;
	}
}
