.a-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	transition: transform .2s ease-in-out;

	&--plain {
		background: none;
		font-size: ms(0);
		padding: 0;
	}
}
