.a-icon-menu {
	transform: rotateZ(90deg);
	transition: transform 0.2s ease-in;
	transform-origin: center;

	&--is-visible {}

	&--is-open {
		transform: rotateZ(0);
		transition: transform 0.2s ease-out;
	}

	&__holder {
		color: transparentize(white, .9);
		transition: color 0.2s;

		&--is-visible {
			color: transparentize($purple, .2);
			mix-blend-mode: luminosity;
		}

		&--is-open {
			color: transparent;
		}
	}

	&__holes {
		transform-origin: center;
		transform: scaleX(1);
		transition: transform 0.2s ease-in;
		&--is-open {
			transform: scaleX(.6);
		}

		&--is-visible {}
	}

	&__hole {
		color: $gold;
		ry: 6;
		transition: ry 0.2s ease-in, transform 0.2s ease-out, color 0.2s;
		transform-origin: center;

		&--is-open {
			color: hsl(0%, 0%, 70%);
			ry: 0;
			transform: scale(1.5, 0.5);
			transition: ry 0.3s ease-in, transform 0.3s ease-in, color 0.2s;
		}

		&--is-visible {
			color: $gold;
		}
	}
}
