@keyframes iconFlag__isPending {
	0% {
		transform: rotateY(-45deg) rotateX(-15deg) skewX(10deg);
	}

	50% {
		transform: rotateY(45deg) rotateX(5deg) skewX(-10deg);
	}

	100% {
		transform: rotateY(0deg) rotateX(0) skewX(0deg);
	}
}

.a-icon-flag {
	color: currentColor;

	&__path {
		color: currentColor;
		transform-origin: bottom left;

		&--is-pending {
			transition: color 1s;
			animation: iconFlag__isPending 1s ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
		}

		&--is-done {
		}
	}
}
