.a-micro-award-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	&__cermony {
		color: $clay--light;
		margin-bottom: .5em;
		font-weight: 700;
	}
	&__awards {
		display: flex;
		flex-direction: column;
	}
	&__award {
		display: flex;
		flex-wrap: wrap;
	}
	&__result {
		text-transform: uppercase;
		font-family: 'PT Sans Narrow';
		color: $clay__classy--3;
		margin-right: .5em;
	}
	&__category {
		display: flex;
		margin-right: .25em
	}
	&__participants {

	}
	&__participant {
		display: inline-flex;
		color: $clay__twisted-spot--3;
		&:not(:last-of-type) {
			&:after {
				content: ',';
				margin-right: 0.25em;
			}
		}
	}
}

.tippy-tooltip {
	background-color: #A4ACB7;
	border-radius: 2px;
	padding: .5em;
	font-size: ms(-4);
	background-image: linear-gradient(120deg, $clay__switch--1 0%, $clay__twisted-spot--2 100%);
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
	max-width: 300px;
}
.tippy-popper[x-placement^=top] .tippy-roundarrow {
	fill: mix($clay__switch--1, $clay__twisted-spot--2, 50%);
}
.tippy-content {
	color: $black;
}
