.o-buffet-tools {
	display: flex;
	font-size: ms(1);

	&__item-holder {
		&--add {
			flex-grow: 1;
		}
		&--sort {

		}
	}

	&__item {
		background: none;
		padding: 0;
		color: $clay__shade--5;
		display: flex;
		align-items: center;

		&--add {

		}
		&--sort {

		}
	}

	&__icon {
		margin-right: .5em;
	}
}
