.o-buffet-tools {
	display: flex;
	font-size: ms(1);
	color: $clay__shade--5;

	&__item-holder {
		display: flex;
		position: relative;
		z-index: g-index('land');

		&--add {
			flex-grow: 1;
			text-shadow: -0.7em -10px 40px $clay__generic-gre--3;
			color: $cyan;
		}

		&--sort {
		}
	}

	&__item {
		display: flex;
		align-content: center;
		font-size: ms(-1);

		&--add {
		}

		&--sort {
			&--enabled {
			}
		}
	}
}
