.o-lggdin-user {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;

	&__avatar {
		size: 50px;
		background-color: white;
		margin-right: .5em;
		border-radius: 20px/15px;
	}

	&__image {
		size: 100%;
	}

	&__name {
		margin-right: .5em;
		font-size: ms(-1);
		color: hsl(0, 0%, 90%);
	}

	&__settings-btn {}
}
