@keyframes deleteMovie {
	0% {
		clip-path: circle(150% at 0% 0%);
	}

	100% {
		clip-path: circle(0% at 0% 0%);
	}
}

.o-micro-movie {
	position: relative;
	transition: filter 0.3s ease-in-out;
	display: block;
	background-color: mix($clay, white, 92%);
	box-shadow: 0 3px 40px 0 rgba(0,0,0,.05);

	&__inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;

		&--dark {
			background: $clay__shade--0;
		}

		&--light {
			background: mix(white, black, 90%);
		}

		&--is-deleting {
			animation: deleteMovie;
			animation-duration: 0.75s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.9, 0, 0, 0.9);
			animation-delay: 0.3s;
		}
	}

	&__userdata {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.35);
	}

	&__washy-icon {
		color: $clay__twisted-spot--3;
		margin-bottom: 0.1em;
	}

	&__movie-box {
		&--is-deleting {
			box-shadow: none;
		}

		&--minimal {
			box-shadow: none;
		}
	}

	&__dropdown {
		position: absolute 0 auto auto 0;
		margin: 0.5rem;
		border-radius: 50%;
		width: 18em;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		background-color: transparentize($purple, 0.2);
		mix-blend-mode: luminosity;
		transition: width 0.2s, height 0.2s, border-radius 0.2s ease-out, border-top-left-radius 0.2s 0.1s, box-shadow 0.2s, background-color 0.2s;

		&--is-open {
			border-radius: 0;
			mix-blend-mode: unset;
			transition: width 0.2s, height 0.2s, border-radius 0.2s ease-out, box-shadow 0.2s;
		}

		&--is-visible {
		}
	}

	&__dropdown-icon {
		size: 27px;
	}

	&__dropdown-menu {
		width: 18em;
		transition: background-color 0.2s, opacity 0.2s 0.2s;
		opacity: 0;
		padding-top: 1.5rem;

		&--is-open {
			opacity: 1;
			background-color: white;
			transition: opacity 0.2s;
		}
	}

	&__information {
		display: flex;
		flex-direction: column;
		color: $kinda-white;
		perspective: 200px;
		padding: .5em;

		&--in-box {
			margin: 0;
			padding: .5em .75em;
		}
	}

	&__title-holder {
		text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
		font-size: ms(2);
		color: hsla(0, 0%, 90%, 1);
		font-weight: bolder;
		font-family: 'PT Sans Narrow';
		transition: transform 0.3s, opacity 0.3s;
		transform-origin: left;
		white-space: nowrap;
		display: flex;
		align-items: baseline;

		&--small {
			font-size: ms(-3);
			margin-left: 0.25em;
			color: mix($clay, white, 70%);
		}

		&--box {
			font-size: ms(3);
		}

		&--light-box {
			color: mix($clay, white, 60%);
		}

		&--minimal {
			font-size: ms(0);
			color: mix($clay, white, 60%);
		}

		&--is-deleting {
			transform: rotateY(110deg);
			opacity: 0;
		}
	}

	&__title {
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
	}

	&__year {
		font-size: ms(-4);
		color: mix($clay, white, 60%);
	}

	&__directors {
		font-family: 'PT Sans Narrow';
		color: $clay__twisted-spot--3;
		display: flex;
		text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s 0.3s, opacity 0.3s;
		transform-origin: left;
		font-size: ms(-1);

		&--is-deleting {
			transform: rotateY(110deg);
			opacity: 0;
		}
	}

	&__director {
		display: flex;
		white-space: nowrap;

		& + & {
			&:before {
				content: ',';
				margin-right: 0.5em;
			}
		}

		&--box {
		}

		&--minimal {
			font-size: ms(-4);
		}
	}

	&__simpleAwards {
		font-size: ms(-5);
		color: $clay__twisted-spot--3;
		white-space: nowrap;
	}

	&__awards {
		margin-top: 0.25em;
		display: flex;
		z-index: g-index('land');
	}

	&__rate {

	}

	&__loader {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}
}
