.o-micro-movie {
	display: flex;
	flex-direction: column;

	&__movie-box{
		box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.15);
	}

	&__information {
		display: flex;
		flex-direction: column;
		color: $kinda-white;
		margin-top: .75rem;
	}

	&__name {
		text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		font-size: ms(1);
		color: hsla(0, 0%, 90%, 1);
		font-weight: bolder;
		font-family: 'PT Sans Narrow';
	}

	&__directors{
		color: mix($purple, white, 70%);
		display: flex;
		text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	}

	&__director {
		font-weight: 400;
		@debug & + &;
		& + & {
			content: ',';
		}
	}

	&__traits {
		margin-top: .5rem;
		display: flex;
		justify-content: space-between;
		color: $kinda-white;
	}

	&__awards {
		opacity: 0;
	}

	&__rate {

	}
}
