.o-searchbar {
	height: 3rem;

	&__holder {
		background-color: lighten($main-color, 10%);
		border-radius: 100px;
		font-size: ms(-3);
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__search-icon {
		color: $clay__switch--1;
		size: 1.3em;
		margin: 1em;
	}

	&__textfield {
		width: 100%;
	}

	&__input {
		padding: 1em 0em;
		background-color: transparent;
		width: 100%;
		color: white;
		text-transform: capitalize;
		&::placeholder {
			color: $clay__shade--3;
		}
	}
}
