@import '~modularscale-sass/stylesheets/_modularscale.scss';
@import './color-schemer/_color-schemer';

$modularscale: (
	base: 15px,
	ratio: 1.414
);

@import '_var__color-pallete';
@import '_var__typography';
@import '_var__grid';
@import '_var__ui';
@import '_var__element-colors';
@import '_var__element-interface';

@import '_mix__text-stroke';
