.l-buffet {
	width: sizes(270px auto 200px) pluck(2);
	background: linear-gradient(to bottom, $clay 30%, $clay--light 100%);
	background-attachment: fixed;
	position: relative;

	&__micro-movies {
		padding: 6rem;
	}
}
