.l-buffet {
	background: $main-color;
	background-attachment: fixed;
	position: relative;
	padding: $gutter--thin;

	&__searchbar {
		height: 3rem;
	}

	&__tools {
		height: 3rem;
		margin: $gutter--thin;
	}

	&__micro-movies {
		margin: $gutter $gutter--thin;
	}
}
