.l-movie {
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, $clay 30%, $clay__shade--1 100%);
	background-attachment: fixed;
	position: relative;

	& .headroom {
		right: auto !important;
		left: auto !important;
		z-index: g-index('mountain');
	}

	&__back {
		margin: $gutter--thin calc(#{$gutter} - .4em);
		border: 3px solid $clay;
		font-weight: 700;
		filter: drop-shadow(0 3px 3px rgba(0,0,0,.2));
		color: white;

		&:hocus {
			color: white;
		}

		&:active {
			transform: scale(0.95);
			border-color: white;
		}
	}

	&__backdrop {
		width: 100%;
		height: calc(100vh / #{$golden-ratio});
		overflow: hidden;
		display: flex;
		align-items: center;
	}

	&__backdrop-image {
		width: 100%;
	}

	&__essense {
		margin-top: -20%;
		margin-bottom: $gutter;
		padding: 0 $gutter;
		width: 100%;
	}

	&__information {

	}
}
