.l-sidebar {
	width: sizes(270px auto 200px) pluck(1);
	height: 100%;
	background: linear-gradient(to bottom, hsl(255, 10%, 40%) 0%, hsl(247, 15%, 30%) 20%, hsl(285, 10%, 30%) 45%, hsl(200, 25%, 20%) 80%, hsl(255, 20%, 20%) 100%);
	color: white;
	display: flex;
	flex-direction: column;

	&__loggdin-user {
		margin: 1rem 0;
	}

	&__places {
		display: flex;
		flex-direction: column;
		padding: 1rem 2rem;
	}
}

@import '../03_organism/o-loggdin-user.scss';
@import '../03_organism/o-places.scss';
