.l-sidebar {
	background: linear-gradient(to bottom, #474C5B 20%, #414054 55%, #263740 90%);
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 0 60px 20px rgba(0, 0, 0, 0.2);
	z-index: g-index('land');
	position: fixed;

	&__loggdin-user {
		height:
			sizes(
				ratio($golden-ratio, 1)
				ratio($golden-ratio, 5)
			) pluck(1);
		margin: $gutter--thin;
	}

	&__places {
		display: flex;
		flex-direction: column;
		padding: 0 $gutter--thin;
		flex-grow: 1;
	}
}
