html {
	font-size: 100%;
	min-height: 100%;
}

body {
	font-family: $default-typeface;
	font-size: ms(0);
	font-weight: 600;
	min-height: 100%;
}

input,
textarea {
	font-family: $default-typeface;
}

input[type='password'] {
	font-family: initial;
}

main {
	width: 100%;
	min-height: 100vh;
	min-height: 100%;
}
