@import-normalize;

body {
	margin: 0;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: currentColor;
}

input[type=range] {
	-webkit-appearance: none;
}

p {
	color: currentColor;
}

button {
	border: none;
	 cursor: pointer;
	 font-family: inherit;
	 outline: none;
	 background: gainsboro;
	 color: #757575;
	 font-size: .9rem;
	 padding: 0.5rem 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	cursor: default;
	margin: 0;
	font-size: 1rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

svg:not(:root) {
	overflow: visible;
}

svg {
	display: inline-block;
	height: 1em;
}

input {
	font-family: inherit;
		overflow: visible;
		background-color: white;
		-webkit-appearance: none;
		outline: none;
		border: none;
		background: white;
		font-size: 1em;
}
